{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/navbar-connected.css') }}"/>
{% endblock %}
<nav class="nav-co">
    <ul>
        <li class="logo"><span id="lg">AR</span>CARS</li>
        <li><a href="{{path('home')}}">HOME</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{path('admin_dashboard')}}">DASHBOARD</a></li>
            <li><a href="{{path('logout')}}">LOGOUT</a></li>
        {% else %}
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{path('rent_car')}}">CARS</a></li>
            <li><a href="{{path('loginPath')}}">PROFILE</a></li>
            <li><a href="{{path('logout')}}">LOGOUT</a></li>
        {% endif %}
        {% endif %}
    </ul>
</nav>